// Fonts
$font_heading         : "Poppins",sans-serif;
$font_text            : "Poppins", sans-serif;

// Colors
$color_primary        : #ff5000;
$color_white          : #fff;
$color_danger_bg      : #f8d7da;
$color_danger_text    : #721c24;
$color_success_bg     : #c3e6cb;
$color_success_text   : #155724;
$color_dark_bg        : #050505;
$color_dark_blue      : #050629;
$color_black          : #000;
$body_text            : #636b72;
$color_light_grey     : #fefef3;
$color_primary_light  : #ffede8;
$color_soft_grey      : #e0e0e0;
$color_grey_secondary : #eee;
// Box Shadow
$color_shadow         : rgba(0,0,0,0.08);
$color_shadow_hover   : rgba(0,0,0,0.1);
//Transition 
$trs_linear           : all 0.25s linear;
$trs_linear_slow      : all 0.5s linear;
// Border Radius
$radius_sm            : 5px;
$radius_md            : 10px;
$radius_circle        : 50%;
$radius_0             : 0;
// Margin
$m_0                  : 0;
$mb_30                : 30px;
$mb_20                : 20px;
$mb_15                : 15px;
$mb_10                : 10px;
$mb_0                 : 0;
$mr_15                : 15px;
// Padding
$p_30                 : 30px;