/* ---------------------------------------------------------------- */
/* 17.Team                                                    
/* ---------------------------------------------------------------- */
.team-card {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    border-radius: $radius_md;
    transition: $trs_linear;
    box-shadow: 0 10px 15px 0 $color_shadow;
    &:hover {
        box-shadow: 0 23px 49px 0 $color_shadow_hover;
    }
    img {
        border-radius: $radius_md;
    }
    .team-text {
        h5 {
            margin-bottom: 5px;
        }
        span {
            display: block;
            margin-bottom: 20px;
        }
    }
    .team-card-body {
        padding: 30px;
        .social-links {
            a {
                height: 42px;
                width: 42px;
                color: $color_white;
                line-height: 42px;
                border-radius:$radius_sm;
                margin-right: 10px;
                background: $color_primary;
                display: inline-block;
                transition: $trs_linear;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $color_white;
                    background: darken($color_primary,5%);
                    animation: pulseOrange 1s 1 linear;
                }
            }
        }
    }
}