/* ---------------------------------------------------------------- */
/* 07.Pagination                              
/* ---------------------------------------------------------------- */
.pagination-wrap {
    margin-top: 30px;
    .pagination-link {
        width: 42px;
        height: 42px;
        color: $color_black;
        line-height: 42px;
        margin-right: 3px;
        border-radius: $radius_sm;
        text-align: center;
        display: inline-block;
        transition: $trs_linear;
        background: $color_white;
        border: 1px solid rgba($color_soft_grey, 0.6);
        &:hover,&.active {
            background:$color_primary;
            color: $color_white !important;
            border-color: transparent;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}